doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pre
    
    
    link(rel="stylesheet", href="css/styles.css")
  body
    #btn-left
      |<
    #slider
    #btn-right
      |>
    
    main
      #wrapper
        p#madeby Slider and Pictures made by
        a(href="http://codepen.io/Godje/" target="_blank")#author Daniel (Godje) Mayovsky
        
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="js/main.js")
