doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pre
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/main.js")
    
    link(rel="stylesheet", href="css/imp/owl.carousel.css")
    link(rel="stylesheet", href="css/styles.css")
  body(bgcolor="#f3f3f3")
    #hero
      #background-holder
      .content-holder
        h1 Amazing Slider
      .slider-holder
        .owl-carousel
            img(src="http://cs631423.vk.me/v631423202/26825/Fony9mhYHiw.jpg")
            img(src="http://cs627717.vk.me/v627717202/3d466/xifvwlhimb4.jpg")
            img(src="http://cs627717.vk.me/v627717202/3d45c/Wx43vWbYvdQ.jpg")
            img(src="http://cs627717.vk.me/v627717202/3d452/UezAH2eBqJA.jpg")
            img(src="http://cs633624.vk.me/v633624202/1ae8a/dlxA8OBsIII.jpg")
            img(src="http://cs627528.vk.me/v627528202/2906c/cyK5LfrVnBA.jpg")
        .custom-nav
          img(src="./css/img/arrow-left.png")#left-btn
          img(src="./css/img/arrow-right.png")#right-btn
      #navigation
        
