#preloader
  width: 100vw
  height: 100vh

  position: fixed
  z-index: 200

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  background-color: $fl-red

  .text
    color: lighten($fl-lred, 10%)
    text-transform: uppercase
    font-size: 30px
    letter-spacing: 1px
    margin-bottom: 15px

    animation: -1s textBlink 1.1s infinite linear
    &::selection
      background-color: transparent
  .circle
    height: 1px
    width: 1px
    display: block
    position: relative
    &::selection
      background-color: transparent

    background-color: $fl-nightblue
    border-radius: 50%
    border:
      top: 99px $fl-red solid
      left: 99px $fl-lred solid
      right: 99px $fl-lred solid
      bottom: 99px $fl-red solid

    animation: -1s preloader 1.5s infinite linear

@keyframes preloader
  0%
    transform: rotateZ(0deg)
  100%
    transform: rotateZ(360deg)

@keyframes textBlink
  0%
    color: lighten($fl-lred, 10%)
  50%
    color: transparent
  100%
    color: lighten($fl-lred, 10%)
